@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ccfbf1; /* teal-100 */
  --foreground: #0f766e; /* teal-700 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0f766e; /* teal-700 */
  --foreground: #ccfbf1 /* teal-100 */;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nextjs-portal {
  display: none !important;
}

@layer components {
  .main-page {
    @apply flex flex-col w-full min-h-[calc(100vh-8rem)] p-2 md:p-5;
  }
  .page-title {
    @apply text-center text-2xl md:text-5xl font-bold mt-1 md:mt-2;
  }
  .section {
    @apply flex flex-col w-full max-w-7xl rounded-2xl p-2 md:p-5 gap-1 md:gap-2 mx-auto;
  }
  .section-content {
    @apply flex flex-col w-full max-w-7xl rounded-2xl p-2 md:p-5 gap-1 md:gap-2 mx-auto shadow-lg bg-white dark:bg-teal-900;
  }
  .section-form {
    @apply flex flex-col w-full max-w-3xl rounded-2xl p-2 md:p-5 gap-1 md:gap-2 mx-auto shadow-lg bg-slate-50 dark:bg-slate-600;
  }
  .table-row {
    @apply even:bg-teal-100 dark:even:bg-teal-600/40;
  }
  .input {
    @apply w-full rounded-xl border border-slate-300 bg-white px-4 py-2 text-base text-slate-900 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 dark:border-slate-700 dark:bg-slate-900 dark:text-white disabled:cursor-not-allowed disabled:bg-slate-100;
  }
  .link {
    @apply text-blue-600 hover:text-blue-500 hover:underline underline-offset-2 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-500;
  }
  .button {
    @apply rounded-xl bg-blue-600 px-4 py-2 text-base font-semibold text-white text-center cursor-pointer shadow-lg transition hover:bg-blue-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .button-sm {
    @apply rounded-lg bg-blue-600 px-2 py-1 text-sm font-semibold text-white text-center cursor-pointer shadow-lg transition hover:bg-blue-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .label-col {
    @apply flex flex-col text-sm;
  }
  .label-row {
    @apply flex items-center gap-2 text-sm;
  }
}
